extends layout

block content

 h1 #{poeta.name}
 .card(style='width: 30rem;')
   .card-body
     h5 Email: #{poeta.email} 
     h5 Website: #{poeta.card.website}
     h5 Company Name: #{poeta.card.company.name}
     h5 From: #{poeta.card.address.state}